<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="go-import" content="{{ .Import }} git https://{{ .Repository }}">
  <meta name="go-source" content="{{ .Import }} https://{{ .Repository }} https://{{ .Repository }}/tree/master{/dir} https://{{ .Repository }}/blob/master{/dir}/{file}#L{line}">
</head>
<body>
<div class="container">
</body>
</html>
